input.ng-invalid.ng-touched {
  border: 1px solid red;
}

input.ng-valid.ng-touched {
  border: 1px solid green;
}

input.ng-invalid.ng-touched + .error-container + span.glyphicon  + span.glyphicon  {
    color: red;
}

input.ng-invalid.ng-touched + .error-container + span.glyphicon  {
    color: green;
}

