

<div ng-controller="dashboardController" style="background-color: #fff; min-height: 800px;">
    <div id="wrapper" class="active">    

      <!-- Sidebar -->
      <div id="sidebar-wrapper">
        <ul id="sidebar_menu" class="sidebar-nav">
           <li class="sidebar-brand">
              <a><img src="img/google-logo.png"></a>
            </li>
        </ul>
        <ul class="sidebar-nav" id="sidebar">     
          <li id="hide-left-column">
            <a id="menu-toggle" href="#">
              <span class="sidebar-link-text">Hide the Menu</span>
              <span class="sidebar-link-icon pull-right"><i class="fa fa-bars"></i></span>
            </a>
          </li>
          <li data-ng-repeat="button in verticalNavigationItems">
            <a href="{{ button.link }}">
              <span class="sidebar-link-text">{{ button.name }}</span>
              <span class="sidebar-link-icon pull-right"><i class="{{ button.class }}"></i></span>
            </a>
          </li>
        </ul>
      </div>  
          
      <!-- Page content -->
      <div id="page-content-wrapper">
        <!-- Keep all page content within the page-content inset div! -->
        <div class="page-content inset">
          <div class="blue-green-header">
            <div class="container-fluid">
              <div class="row">
                <nav class="navbar navbar navbar-static-top col-lg-12">
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                  </div>
                  <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav"  data-toggle="tooltip" data-placement="right" title="Изберете активна компания">
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" data-ng-modele="myAppCompany">{{myAppCompany.name}} <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                          <li data-ng-repeat="company in myAppCompanies"><a href="#">{{company.name}}</a></li>
                        </ul>
                      </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                      <li class="dropdown" data-toggle="tooltip" data-placement="left" title="Настройки">
                        <a aria-expanded="false" role="button" data-toggle="dropdown" class="dropdown-toggle" href=""><i class="fa fa-cog"></i></a>
                        <ul role="menu" class="dropdown-menu">
                          <li><a href="#">Action</a></li>
                          <li><a href="#">Another action</a></li>
                          <li class="divider"></li>
                          <li><a href="#">Изход</a></li>
                        </ul>
                      </li>
                      <li data-toggle="tooltip" data-placement="left" title="Свържете се с нас"><a href=""><i class="fa fa-question"></i></a></li>
                    </ul>
                  </div>
                </nav>
              </div>
            </div>
          </div>

          <div class="clear40"></div>

          
        <div class="row">
            <div class="col-md-12">
              <h3>Приложения<small>, които имате във вашата система</small></h3>  
            </div>
        </div>
        <div class="clear20"></div>
        <div class="row">
          <div class="col-lg-6" data-ng-repeat="info in myAppApps">
            <div class="media">
              <ul class="nav nav-pills nav-justified">
                <li role="presentation"><a href="#">Настройки</a></li>
                <li role="presentation"><a href="#">Статистика</a></li>
                <li role="presentation"><a href="#">Подновяване</a></li>
              </ul>  
              <hr style="margin:8px auto">
              <div class="row">
                  <div class="col-lg-12">
                      <h2>{{info.name}}</h2>
                      <p><strong>Активен до: </strong> {{info.expire}} </p>
                      <p><strong>Закупен на: </strong> {{info.start}} </p>
                  </div> 
              </div>         
              <div class="row">
                <div class="col-lg-4 emphasis">
                    <h3><strong> {{info.users}} </strong></h3>                    
                    <p><small>Потребителя</small></p>
                </div>
                <div class="col-lg-4 emphasis">
                    <h3><strong>{{info.sales}}</strong></h3>                    
                    <p><small>Продажби</small></p>
                </div>
                <div class="col-lg-4 emphasis">
                    <h3><strong>{{info/products}}</strong></h3>                    
                    <p><small>Артикула</small></p>
                </div>  
              </div> 
            </div>
          </div>
        </div>

        </div>
      </div>

    </div> <!-- END WRAPPER-->
  </div>

<script type="text/javascript">
    $(document).ready(function() {
      $("#menu-toggle").click(function(e) {
              e.preventDefault();
              console.log('default');
              $("#wrapper").toggleClass("active");
      });
      $(".dropdown-toggle").click(function(e) {
              e.preventDefault();
              $("#navbar > ul > li.dropdown").toggleClass("open");
      });
    });
</script>