

<div ng-controller="createCompanyController">
    <div id="wrapper" class="active">    

      <!-- Sidebar -->
      <div id="sidebar-wrapper">
        <ul id="sidebar_menu" class="sidebar-nav">
           <li class="sidebar-brand">
              <a><img src="img/google-logo.png"></a>
            </li>
        </ul>
        <ul class="sidebar-nav" id="sidebar">     
          <li id="hide-left-column">
            <a id="menu-toggle" href="#">
              <span class="sidebar-link-text">Hide the Menu</span>
              <span class="sidebar-link-icon pull-right"><i class="fa fa-bars"></i></span>
            </a>
          </li>
          <li data-ng-repeat="button in verticalNavigationItems">
            <a href="{{ button.link }}">
              <span class="sidebar-link-text">{{ button.name }}</span>
              <span class="sidebar-link-icon pull-right"><i class="{{ button.class }}"></i></span>
            </a>
          </li>
        </ul>
      </div>  
          
      <!-- Page content -->
      <div id="page-content-wrapper">
        <!-- Keep all page content within the page-content inset div! -->
        <div class="page-content inset">
          <div class="blue-green-header">
            <div class="container-fluid">
              <div class="row">
                <nav class="navbar navbar navbar-static-top col-lg-12">
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                  </div>
                  <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                      <li class="dropdown" data-toggle="tooltip" data-placement="left" title="Настройки">
                        <a aria-expanded="false" role="button" data-toggle="dropdown" class="dropdown-toggle" href=""><i class="fa fa-cog"></i></a>
                        <ul role="menu" class="dropdown-menu">
                          <li><a href="#">Action</a></li>
                          <li><a href="#">Another action</a></li>
                          <li class="divider"></li>
                          <li><a href="#">Изход</a></li>
                        </ul>
                      </li>
                      <li data-toggle="tooltip" data-placement="left" title="Свържете се с нас"><a href=""><i class="fa fa-question"></i></a></li>
                    </ul>
                  </div>
                </nav>
              </div>
            </div>
          </div>

          <div class="clear40"></div>

          <div class="row">
              <div class="col-md-12">
                <h3>Добавяне<small> на нова компания</small></h3>  
              </div>
          </div>
          <div class="clear20"></div>
          <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
              <form name="form" novalidate>
                <div class="form-group has-feedback">
                  <label class="control-label">Име на компанията:</label>
                  <input class="form-control" 
                      type="text" 
                      placeholder="Име на компанията"
                      ng-model="company.name" 
                      name="cName" 
                      ng-minlength=3 
                      ng-maxlength=50 
                      required="" 
                  />
                  <div class="error-container scale-fade" 
                       ng-show="form.$submitted && form.cName.$invalid || form.cName.$touched && form.cName.$invalid">
                    <small class="error" 
                           ng-show="form.cName.$error.required">
                           Името е задължително.
                    </small>
                    <small class="error" 
                           ng-show="form.cName.$error.minlength">
                            Името трябва да е по-дълго от 3 символа.
                    </small>
                    <small class="error" 
                           ng-show="form.cName.$error.maxlength">
                            Името не може да надвишава 50 символа.
                    </small>
                  </div>
                  <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"
                      ng-show="form.cName.$touched && form.cName.$valid" >
                  </span>
                  <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"
                      ng-show="form.$submitted && form.cName.$invalid || form.cName.$touched && form.cName.$invalid">
                  </span>
                </div> <!-- end .form-group -->

                <div class="form-group has-feedback">
                  <label class="control-label">ЕИК:</label>
                  <input class="form-control" 
                      type="text" 
                      placeholder="ЕИК"
                      ng-pattern="/^[0-9]+$/"
                      ng-model="company.eik" 
                      name="cEIK" 
                      ng-minlength=6 
                      ng-maxlength=15 
                      required="" 
                  />
                  <div class="error-container scale-fade" 
                       ng-show="form.$submitted && form.cEIK.$invalid || form.cEIK.$touched && form.cEIK.$invalid">
                    <small class="error" 
                           ng-show="form.cEIK.$error.required">
                           ЕИК е задължителен.
                    </small>
                    <small class="error" 
                           ng-show="form.cEIK.$error.minlength">
                            ЕИК трябва да е по-дълъг от 6 символа.
                    </small>
                    <small class="error" 
                           ng-show="form.cEIK.$error.pattern">
                           Моля въведете валиден ЕИК.
                    </small>
                    <small class="error" 
                           ng-show="form.cEIK.$error.maxlength">
                            ЕИК не може да надвишава 15 символа.
                    </small>
                  </div>
                  <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"
                      ng-show="form.cEIK.$touched && form.cEIK.$valid" >
                  </span>
                  <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"
                      ng-show="form.$submitted && form.cEIK.$invalid || form.cEIK.$touched && form.cEIK.$invalid">
                  </span>
                </div> <!-- end .form-group -->

                <div class="form-group">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" ng-model="company.ddstrue" name="companyDdsTrue" />Регистрация по ЗДДС
                    </label>
                  </div>
                </div><!-- end .form-group -->

                <div class="form-group has-feedback scale-fade" ng-show="company.ddstrue">
                  <label class="control-label">ДДС номер:</label>
                  <input class="form-control" 
                      type="text" 
                      placeholder="ДДС номер"
                      ng-pattern=""
                      ng-model="company.dds" 
                      name="cDDS" 
                      ng-minlength=6 
                      ng-maxlength=15 
                  />
                  <div class="error-container scale-fade" 
                       ng-show="form.$submitted && form.cDDS.$invalid || form.cDDS.$touched && form.cDDS.$invalid">
                    <small class="error" 
                           ng-show="form.cDDS.$error.minlength">
                            ДДС номер трябва да е по-дълъг от 6 символа.
                    </small>
                    <small class="error" 
                           ng-show="form.cDDS.$error.pattern">
                           Моля въведете валиден ДДС номер.
                    </small>
                    <small class="error" 
                           ng-show="form.cDDS.$error.maxlength">
                            ДДС номер не може да надвишава 15 символа.
                    </small>
                  </div>
                  <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"
                      ng-show="form.cDDS.$touched && form.cDDS.$valid" >
                  </span>
                  <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"
                      ng-show="form.$submitted && form.cDDS.$invalid || form.cDDS.$touched && form.cDDS.$invalid">
                  </span>
                </div> <!-- end .form-group -->

                <div class="form-group has-feedback">
                  <label class="control-label">Град:</label>
                  <input class="form-control" 
                      type="text" 
                      placeholder="Град"
                      ng-pattern="/^[а-яА-Я]+$/"
                      ng-model="company.city" 
                      name="cCity" 
                      required=""
                  />
                  <div class="error-container scale-fade" 
                       ng-show="form.$submitted && form.cCity.$invalid || form.cCity.$touched && form.cCity.$invalid">
                    <small class="error" 
                           ng-show="form.cCity.$error.required">
                           Град е задължителен.
                    </small>
                    <small class="error" 
                           ng-show="form.cCity.$error.pattern">
                           Моля въведете валиден град.
                    </small>
                  </div>
                  <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"
                      ng-show="form.cCity.$touched && form.cCity.$valid" >
                  </span>
                  <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"
                      ng-show="form.$submitted && form.cCity.$invalid || form.cCity.$touched && form.cCity.$invalid">
                  </span>
                </div> <!-- end .form-group -->

                <div class="form-group has-feedback">
                  <label class="control-label">Адрес по регистрация:</label>
                  <input class="form-control" 
                      type="text" 
                      placeholder="Адрес"
                      ng-pattern="/^[а-яА-Я]+$/"
                      ng-model="company.address" 
                      name="cAddress" 
                      required=""
                  />
                  <div class="error-container scale-fade" 
                       ng-show="form.$submitted && form.cAddress.$invalid || form.cAddress.$touched && form.cAddress.$invalid">
                    <small class="error" 
                           ng-show="form.cAddress.$error.required">
                           Адрес е задължителен.
                    </small>
                    <small class="error" 
                           ng-show="form.cAddress.$error.pattern">
                           Моля въведете валиден адрес.
                    </small>
                  </div>
                  <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"
                      ng-show="form.cAddress.$touched && form.cAddress.$valid" >
                  </span>
                  <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"
                      ng-show="form.$submitted && form.cAddress.$invalid || form.cAddress.$touched && form.cAddress.$invalid">
                  </span>             
                </div> <!-- end .form-group -->

                <div class="form-group has-feedback">
                  <label class="control-label">МОЛ:</label>
                  <input class="form-control" 
                      type="text" 
                      placeholder="МОЛ"
                      ng-model="company.mol" 
                      name="cMOL" 
                      ng-minlength=3 
                      ng-maxlength=50 
                      required="" 
                  />
                  <div class="error-container scale-fade" 
                       ng-show="form.$submitted && form.cMOL.$invalid || form.cMOL.$touched && form.cMOL.$invalid">
                    <small class="error" 
                           ng-show="form.cMOL.$error.required">
                           МОЛ е задължително.
                    </small>
                    <small class="error" 
                           ng-show="form.cMOL.$error.minlength">
                            МОЛ трябва да е по-дълго от 3 символа.
                    </small>
                    <small class="error" 
                           ng-show="form.cMOL.$error.maxlength">
                            МОЛ не може да надвишава 50 символа.
                    </small>
                  </div>
                  <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"
                      ng-show="form.cMOL.$touched && form.cMOL.$valid" >
                  </span>
                  <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"
                      ng-show="form.$submitted && form.cMOL.$invalid || form.cMOL.$touched && form.cMOL.$invalid">
                  </span>
                </div> <!-- end .form-group -->

                <div class="form-group has-feedback">
                  <label class="control-label">Имейл адрес:</label>
                  <input class="form-control" 
                      type="email" 
                      placeholder="Имейл адрес"
                      ng-model="company.email" 
                      name="cEmail" 
                      ng-minlength=3 
                      ng-maxlength=50 
                      required="" 
                  />
                  <div class="error-container scale-fade" 
                       ng-show="form.$submitted && form.cEmail.$invalid || form.cEmail.$touched && form.cEmail.$invalid">
                    <small class="error" 
                           ng-show="form.cEmail.$error.minlength">
                            Имейлът трябва да е по-дълъг от 6 символа
                    </small>
                    <small class="error" 
                           ng-show="form.cEmail.$error.email">
                           Моля въведете валиден имейл.
                    </small>
                    <small class="error" 
                           ng-show="form.cEmail.$error.maxlength">
                            Имейлът не може да надвишава 50 символа
                    </small>
                  </div>
                  <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"
                      ng-show="form.cEmail.$touched && form.cEmail.$valid">
                  </span>
                  <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"
                      ng-show="form.$submitted && form.cEmail.$invalid || form.cEmail.$touched && form.cEmail.$invalid" >
                  </span>
                </div><!-- end .form-group -->

                <div class="form-group has-feedback">
                  <label class="control-label">Лого:</label>
                  <input 
                      type="file" 
                      ng-model="company.logo" 
                      name="cLogo" 
                  />
                  <div class="error-container scale-fade" 
                       ng-show="form.$submitted && form.cLogo.$invalid || form.cLogo.$touched && form.cLogo.$invalid">
                    <small class="error" 
                           ng-show="form.cLogo.$error.file">
                           Моля въведете валиден файл.
                    </small>
                  </div>
                  <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"
                      ng-show="form.cLogo.$touched && form.cLogo.$valid">
                  </span>
                  <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"
                      ng-show="form.$submitted && form.cLogo.$invalid || form.cLogo.$touched && form.cLogo.$invalid" >
                  </span>
                </div><!-- end .form-group -->


                  <div class="error-container scale-fade" 
                       ng-show="form.$submitted && form.$invalid">
                    <small class="error">
                           Моля коригирайте грешките във формата.
                    </small>
                  </div>
                  
                  <input type="submit" ng-click="update(company)" value="Save" class="btn btn-default btn-lg pull-right" />
                 <!--  <input type="button" ng-click="reset(form)" value="Reset" class="btn btn-info" /> -->
                </form>
            </div>
         </div>

        <div class="clear60"></div>
        {{company}}

        
        </div>
      </div>

    </div> <!-- END WRAPPER-->
  </div>
<script type="text/javascript">
    $(document).ready(function() {
      $("#menu-toggle").click(function(e) {
              e.preventDefault();
              console.log('default');
              $("#wrapper").toggleClass("active");
      });
      $(".dropdown-toggle").click(function(e) {
              e.preventDefault();
              $("#navbar > ul > li.dropdown").toggleClass("open");
      });
    });
</script>

