

<div ng-controller="dashboardController">
    <div id="wrapper" class="active">    

      <!-- Sidebar -->
      <div id="sidebar-wrapper">
        <ul id="sidebar_menu" class="sidebar-nav">
           <li class="sidebar-brand">
              <a><img src="img/google-logo.png"></a>
            </li>
        </ul>
        <ul class="sidebar-nav" id="sidebar">     
          <li id="hide-left-column">
            <a id="menu-toggle" href="">
              <span class="sidebar-link-text">Hide the Menu</span>
              <span class="sidebar-link-icon pull-right"><i class="fa fa-bars"></i></span>
            </a>
          </li>
          <li data-ng-repeat="button in verticalNavigationItems">
            <a href="{{ button.link }}">
              <span class="sidebar-link-text">{{ button.name }}</span>
              <span class="sidebar-link-icon pull-right"><i class="{{ button.class }}"></i></span>
            </a>
          </li>
        </ul>
      </div>  
          
      <!-- Page content -->
      <div id="page-content-wrapper">
        <!-- Keep all page content within the page-content inset div! -->
        <div class="page-content inset">
          <div class="blue-green-header">
            <div class="container-fluid">
              <div class="row">
                <nav class="navbar navbar navbar-static-top col-lg-12">
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                  </div>
                  <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav"  data-toggle="tooltip" data-placement="right" title="Изберете активна компания">
                      <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" data-ng-modele="myAppCompany">{{myAppCompany.name}} <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                          <li data-ng-repeat="company in myAppCompanies"><a href="#">{{company.name}}</a></li>
                        </ul>
                      </li>
                    </ul>
                    <ul class="nav navbar-nav"  data-toggle="tooltip" data-placement="right" title="Изберете активна компания">
                      <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" data-ng-module="myAppApp">{{myAppApp.name}} <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                          <li data-ng-repeat="app in myAppApps"><a href="#">{{app.name}}</a></li>
                        </ul>
                      </li>
                    </ul>
                    <ul class="nav navbar-nav"  data-toggle="tooltip" data-placement="right" title="Изберете активна компания">
                      <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" data-ng-module="myAppModule">{{myAppModule.name}} <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                          <li data-ng-repeat="module in myAppModules"><a href="#">{{module.name}}</a></li>
                        </ul>
                      </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                      <li class="dropdown" data-toggle="tooltip" data-placement="left" title="Настройки">
                        <a aria-expanded="false" role="button" data-toggle="dropdown" class="dropdown-toggle" href=""><i class="fa fa-cog"></i></a>
                        <ul role="menu" class="dropdown-menu">
                          <li><a href="#">Action</a></li>
                          <li><a href="#">Another action</a></li>
                          <li class="divider"></li>
                          <li><a href="#">Изход</a></li>
                        </ul>
                      </li>
                      <li data-toggle="tooltip" data-placement="left" title="Свържете се с нас"><a href=""><i class="fa fa-question"></i></a></li>
                    </ul>
                  </div>
                </nav>
              </div>
            </div>
          </div>

          <div class="clear40"></div>


          <div class="row">
            <div class="col-lg-4">
               <!--
                  ****** LINE CHART WIDGET *******
                  -->    
               <div id="line-chart-widget" class="panel">
                  <div class="panel-heading">
                     <h4><strong>Продажби</strong><small> последните 30 дни</small></h4>
                  </div>
                  <div class="panel-body">
                     <canvas id="myLineChart"></canvas>
                  </div>
                  <div class="panel-footer">
                     <div class="list-block">
                        <ul class="text-center legend">
                           <li>
                              <h3>180 000</h3>
                              <p><small>Печалба</small></p>
                           </li>
                           <li>
                              <h3>+ 14%</h3>
                              <p><small>Промяна</small></p>
                           </li>
                          </ul>
                          <ul class="text-center legend">
                           <li>
                              <h3>280 000</h3>
                              <p><small>Приходи</small></p>
                           </li>
                           <li>
                              <h3>100 000</h3>
                              <p><small>Разходи</small></p>
                           </li>
                        </ul>
                     </div>
                  
                  </div>
               </div>
             
            </div>
            
            
            <!-- COLUMN TWO -->   
            <div class="col-lg-4">
               <!--
                  ****** CHART WIDGET *******
                  -->    
               <div id="pie-chart-widget" class="panel">
                  <div class="panel-heading text-center">
                     <h4><strong>Поръчки</strong><small> чакащи обработка</small></h4>
                  </div>
                  <div class="panel-body">
                     <canvas id="myPieChart"></canvas>
                  </div>
                  <div class="panel-footer">
                     <div class="list-block">
                        <ul class="text-center legend">
                           <li class="pie1" style="margin-right: 1px;">
                              Платени поръчки 
                              <h2>62</h2>
                           </li>
                           <li class="pie2">
                              Изпратени поръчки 
                              <h2>21</h2>
                           </li>
                           <li class="pie3" style="margin-left: 1px;">
                              Чакащи плащане 
                              <h2>10</h2>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>

            <!-- COLUMN THREE -->   
            <div class="col-lg-4">
               <div  class="panel">
           
                  <div class="panel-body">
                    
                     <div class="chart-block clearfix">
                           <h4>Продажби <small>последните 12 месеца</small></h4>
                           <canvas id="myBarChart"></canvas>
                     </div>
                  </div>
                  </div>
               </div>

         </div>

         <div class="clear40"></div>

          <div class="row">
              <div class="col-md-12">
                <h3>Потребители<small>, които има достъп до този модул</small></h3>  
              </div>
          </div>
          <div class="clear20"></div>
          <div class="row">
            <div class="col-lg-6" data-ng-repeat="info in userList">
                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object dp img-circle" src="{{info.picture}}" style="width: 100px;height:100px;">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">{{info.name}} <small> {{info.position}}</small>
                          <a class="btn btn-xs pull-right"><i class="fa fa-pencil-square-o"></i></a>
                        </h4>

                        <h5>{{info.phone}} <a href="">{{info.mail}}</a></h5>
                        <hr style="margin:8px auto">

                        <span class="label label-info">{{info.type}}</span>
                    </div>
                </div>

            </div>
         </div>
        <div class="clear60"></div>
        </div>
      </div>

    </div> <!-- END WRAPPER-->
  </div>



    <script type="text/javascript">

      $(document).ready(function() {

      $("#menu-toggle").click(function(e) {
              e.preventDefault();
              console.log('default');
              $("#wrapper").toggleClass("active");
      });
      $(".dropdown-toggle").click(function(e) {
              e.preventDefault();
              $("#navbar > ul > li.dropdown").toggleClass("open");
      });

        //Docs at http://www.chartjs.org 
          var pie_data = [
              {
                  value: 300,
                  color:"#bcc747",
                  highlight: "#3a3f51",
                  label: "Платени поръчки"
              },
              {
                  value: 50,
                  color: "#4da8a1",
                  highlight: "#3a3f51",
                  label: "Изпратени поръчки"
              },
              {
                  value: 100,
                  color: "#a82159",
                  highlight: "#3a3f51",
                  label: "Чакащи плащане"
              }
          ]
          
          var line_data = {
          labels: [
              "01.03", 
              "02.03", 
              "03.03",
              "04.03",
              "05.03",
              "06.03",
              "07.03",
              "08.03",
              "09.03",
              "10.03",
              "11.03",
              "12.03",
              "13.03",
              "14.03",
              "15.03",
              "16.03",
              "17.03",
              "18.03",
              "19.03",
              "20.03",
              "21.03",
              "22.03",
              "23.03",
              "24.03",
              "25.03",
              "26.03",
              "27.03",
              "28.03",
              "29.03",
              "30.03",
              "31.03",],
          datasets: [
              {
                  label: "My Second dataset",
                  fillColor: "#3a3f51",
                  strokeColor: "#fff",
                  pointColor: "#fff",
                  pointStrokeColor: "#fff",
                  pointHighlightFill: "#fff",
                  pointHighlightStroke: "#4da8a1",
                  data: [1,6,7,5,3,5,6,4,6,8,9,6,7,5,3,5,6,4,6,8,9,6,7,5,3,5,6,4,6,8,9,1]
              }
          ]
          };
          
          
          var bar_data = {
          labels: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
          datasets: [
              {
                  fillColor: "#a82159",
                  strokeColor: "#46001c",
                  highlightFill: "#3a3f51",
                  highlightStroke: "#3a3f51",
                  data: [65, 59, 80, 81, 56, 55, 40, 56, 112, 76, 98, 34]
              }
          ]
          };
          
          
          // PIE CHART WIDGET
          var ctx = document.getElementById("myPieChart").getContext("2d");
          var myDoughnutChart = new Chart(ctx).Doughnut(pie_data,
                  {
                      responsive:true, 
                      tooltipTemplate: "<%if (label){%><%=label%>: <%}%><%= value %> Gb"
                  });
          
          
          // LINE CHART WIDGET
          var ctx2 = document.getElementById("myLineChart").getContext("2d");
          var myLineChart = new Chart(ctx2).Line(line_data,
                  {
                      responsive:true,
                      scaleShowGridLines : false,
                      scaleShowLabels: false,
                      showScale: false,
                      pointDot : true,
                      bezierCurveTension : 0.2,
                      pointDotStrokeWidth : 0.5,
                      pointHitDetectionRadius : 2,
                      datasetStroke : false,
                      tooltipTemplate: "<%= value %><%if (label){%> - <%=label%><%}%>"
                  });
                  
              // BAR CHART ON LINE WIDGET    
              var ctx3 = document.getElementById("myBarChart").getContext("2d");
              var myBarChart = new Chart(ctx3).Bar(bar_data,
                  {
                      responsive:true,
                      scaleShowGridLines : true,
                      scaleShowLabels: false,
                      showScale: false,
                      pointDot : true, 
                      datasetStroke : true,
                      tooltipTemplate: "<%= value %><%if (label){%> - <%=label%><%}%>"
                  });
          
      });
</script>

