  <div ng-controller="landingController">
    <div class="navbar-wrapper">
      <div class="container">
                <div class="row">
        <nav class="navbar navbar navbar-static-top col-lg-12">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">WareCloud</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav pull-right">
              <li data-ng-repeat="button in menuItems">
                <a href="{{ button.link }}" class="{{button.class}}">{{ button.name}}</a>
              </li>
            </ul>
          </div>
        </nav>
        </div>
      </div>
    </div>

    <!-- Carousel
    ================================================== -->


    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li class="" data-target="#myCarousel" data-slide-to="1"></li>
        <li class="" data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <div class="container">
            <div class="carousel-caption">
              <h1>The Most <u>Powerful & Yet Simple</u> Way <br>to Manage Your Warehouse</h1>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing</p>
              <p><a class="btn btn-lg btn-default" href="#" role="button">Check our demo</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="container">
            <div class="carousel-caption">
              <h1>The Most <u>Powerful & Yet Simple</u> Way <br>to Manage Your Warehouse</h1>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing</p>
              <p><a class="btn btn-lg btn-default" href="#" role="button">Check our demo</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="container">
            <div class="carousel-caption">
              <h1>The Most <u>Powerful & Yet Simple</u> Way <br>to Manage Your Warehouse</h1>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing</p>
              <p><a class="btn btn-lg btn-default" href="#" role="button">Check our demo</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="clear"></div>

    <div class="green-row">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h2>Discover how WH Booster can help your business</h2>
          </div>
        </div>
      </div>
    </div>

    <div class="clear60"></div>

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img src="img/organize-your-warehouse.jpg" alt="Warehouse in a nice order">
          <h2>Get organized</h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of</p>
          <p><a class="btn btn-primary" href="#" role="button">View details</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="clear40 visible-sm visible-xs visible-md"></div>
        <div class="col-lg-4">
          <img src="img/automate-your-warehouse.jpg" alt="Automate processes in the warehouse">
          <h2>Automate the process</h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of</p>
          <p><a class="btn btn-primary" href="#" role="button">View details</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="clear40 visible-sm visible-xs visible-md"></div>
        <div class="col-lg-4">
          <img src="img/sell-more.jpg" alt="Sell more from your warehouse">
          <h2>Sell more</h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of</p>
          <p><a class="btn btn-primary" href="#" role="button">View details</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->

    </div> <!-- /.container marketing -->
    
    <div class="clear60"></div>

    <div class="blue-green-row">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <img src="img/google-logo.png" alt="Google">
            <img src="img/google-logo.png" alt="Google">
            <img src="img/google-logo.png" alt="Google">
            <img src="img/google-logo.png" alt="Google">
            <img src="img/google-logo.png" alt="Google">
            <img src="img/google-logo.png" alt="Google">
          </div>
        </div>
      </div>
    </div>

    <div class="clear"></div>

    <div class="world-row">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h2>Still Not Convinced? 186,785 growing companies <u>All Around the World</u> <br>manage 1,345,798,025 products with WH Booster</h2>
          </div>
        </div>
      </div>
    </div>

    <div class="clear"></div>

    <div class="blue-green-light-row">
      <div class="container">
        <div class="row">
          <div class="col-lg-7 visible-lg">
            <h3>Do you want to know<br>what makes our customers so happy?</h3>
          </div>
          <div class="col-lg-7 text-center visible-xs visible-sm visible-md">
            <h3>Do you want to know<br>what makes our customers so happy?</h3>
          </div>
          <div class="col-lg-5">
            <a class="btn btn-info" href="#" role="button">Check our demo</a>
          </div>
        </div>
      </div>
    </div>

    <div class="clear60"></div>

    <div class="container screenshot">
      <div class="row">
        <div class="col-lg-12 text-center">
          <img src="img/powerful-and-simple-warehouse-software.jpg" alt="WH Booster on different devices">
        </div><!-- /.col-lg-12 -->
        <div class="clear60"></div>
        <div class="col-lg-2 hidden-xs hidden-sm hidden-md">
          <img src="img/quotes.jpg" alt="Quotes">
        </div><!-- /.col-lg-2 -->
        <div class="col-lg-10">
          <span class="testimonial-person pull-right">Margarita Petrova (CEO), Hela</span>
          <p class="testimonial-text pull-right">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          </p>
        </div><!-- /.col-lg-10 -->
      </div><!-- /.row -->
    </div><!-- /.container screenshot -->

    <div class="clear60"></div>

    <div class="start-now">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h2>Get your WH Booster Today</h2>
            <a class="btn btn-default btn-lg" href="#" role="button">Create your accout</a>
            <div class="clear"></div>
            <span class="help-text">It’s free, start now!</span>
          </div><!-- /.col-lg-12 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </div><!-- /.start-now -->

    <div class="clear40"></div>

        
<div style="background-color: #fff;">
      <!-- FOOTER -->
      <div class="container">
        <footer>
          <p>© 2015 Right Click ltd. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
        </footer>
      </div>
</div>
  </div>




