<div data-ng-controller="loginController">
    <div class="red-row" >
      <div class="container">
        <nav class="navbar navbar navbar-static-top">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">WareCloud</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav pull-right">
              <li data-ng-repeat="button in menuItems"><a href="{{ button.link }}" class="{{button.class}}">{{ button.name}}</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </div>

    <div class="clear60"></div>

    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-lg-offset-4" data-ng-module="userStatus">
          <form name="form" autocomplete="off" submitted="submitted" submit="submit()">
            <div class="panel panel-default box-shadow">
              <div class="panel-heading">
                <h3 class="panel-title">
                  Добре дошли
                </h3>
              </div>
              <div class="panel-body" data-ng-switch on="userStatus.statusLogin">
                <div data-ng-switch-when="known">
                  <p class="text-center pv">Здравейте г-н Велков <a href="" data-toggle="tooltip" data-placement="bottom" title="Изберете друг потребител" data-ng-click="userStatus.statusLogin='unknown'"><i class="fa fa-undo"></i></a>, моля въведете вашата парола</p>
                </div>
                <div data-ng-switch-default>
                  <p class="text-center pv">Моля въведете потребителското ви име и парола</p>
                  <div class="form-group has-feedback">
                    <input
                      type="email"
                      class="form-control loginEmail"
                      id="email"
                      name="email"
                      placeholder="Имейл"
                      ng-model="email"
                      ng-model-options="{updateOn: 'blur'}"
                      required>
                      <span class="fa fa-envelope form-control-feedback text-muted"></span>
                      <div class="clear"></div>
                      <span class="text-danger ng-hide">This field is required</span>
                  </div>
                </div>
                <div class="form-group has-feedback">
                  <input
                    type="password"
                    class="form-control loginPassword"
                    id="password"
                    name="password"
                    placeholder="Парола"
                    ng-model="password"
                    required>
                    <span class="fa fa-lock form-control-feedback text-muted"></span>
                    <span class="text-danger ng-hide">This field is required</span>
                </div>
                <div class="clear20"></div>
                <a href="#/dashboard" class="btn btn-default btn-block">Вход</a>
                <div class="clear20"></div>
                <a class="text-center pv" href="#/recover">Забравена парола</a>
              </div>
            </div>
          </form>
        </div>  
      </div>
    </div>
    <div class="clear40"></div>
</div>