<div ng-controller="pricingController">
    <div class="red-row">
      <div class="container">

        <nav class="navbar navbar navbar-static-top">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">WareCloud</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav pull-right">
              <li data-ng-repeat="button in menuItems"><a href="{{ button.link }}" class="{{button.class}}">{{ button.name}}</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </div>




    <!-- Plans
    ================================================== -->

    <div class="clear60"></div>


      <div class="container">
        <div class="row pricing">
            <div class="col-xs-12 col-md-7">
                <form class="form-horizontal" name="form" novalidate>
                  <fieldset>
                    <div id="legend">
                      <legend class="">Създайте вашия акаунт</legend>
                    </div>                 
                    <div class="control-group has-feedback">
                      <label class="control-label">Имейл</label>
                        <input class="form-control"
                          id="email" 
                          name="uEmail" 
                          ng-model="user.email"
                          placeholder="Имейл" 
                          type="email"
                          ng-minlength=6
                          ng-maxlength=50
                          required=""
                        />
                        <div class="error-container scale-fade" 
                             ng-show="form.$submitted && form.uEmail.$invalid || form.uEmail.$touched && form.uEmail.$invalid">
                          <small class="error" 
                                 ng-show="form.uEmail.$error.minlength">
                                  Имейлът трябва да е по-дълъг от 6 символа
                          </small>
                          <small class="error" 
                                 ng-show="form.uEmail.$error.required">
                                 Имейлът е задължително поле.
                          </small>
                          <small class="error" 
                                 ng-show="form.uEmail.$error.email">
                                 Моля въведете валиден имейл.
                          </small>
                          <small class="error" 
                                 ng-show="form.uEmail.$error.maxlength">
                                  Имейлът не може да надвишава 50 символа
                          </small>
                        </div>
                        <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"
                            ng-show="form.uEmail.$touched && form.uEmail.$valid">
                        </span>
                        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"
                            ng-show="form.$submitted && form.uEmail.$invalid || form.uEmail.$touched && form.uEmail.$invalid" >
                        </span>
                    </div>
                 
                    <div class="control-group has-feedback">
                      <label class="control-label">Парола</label>
                        <input class="form-control" 
                          id="password" 
                          name="uPassword" 
                          ng-model="user.password"
                          placeholder="Парола" 
                          type="password"
                          ng-minlength=6
                          ng-maxlength=50
                          required=""
                        />
                        <div class="error-container scale-fade" 
                             ng-show="form.$submitted && form.uPassword.$invalid || form.uPassword.$touched && form.uPassword.$invalid">
                          <small class="error" 
                                 ng-show="form.uPassword.$error.minlength">
                                  Паролата трябва да е по-дълъг от 6 символа
                          </small>
                          <small class="error" 
                                 ng-show="form.uPassword.$error.required">
                                 Паролата е задължително поле.
                          </small>
                          <small class="error" 
                                 ng-show="form.uPassword.$error.maxlength">
                                  Паролата не може да надвишава 50 символа
                          </small>
                        </div>
                        <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"
                            ng-show="form.uPassword.$touched && form.uPassword.$valid">
                        </span>
                        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"
                            ng-show="form.$submitted && form.uPassword.$invalid || form.uPassword.$touched && form.uPassword.$invalid" >
                        </span>
                    </div>
                 
                    <div class="control-group has-feedback">
                      <label class="control-label">Парола</label>
                        <input class="form-control" 
                          id="password2" 
                          name="uPassword2" 
                          ng-model="user.password2"
                          ng-match="uPassword"
                          placeholder="Парола" 
                          type="password"
                          required=""
                        />
                        <div class="error-container scale-fade" 
                             ng-show="form.$submitted && form.uPassword2.$invalid || form.uPassword2.$touched && form.uPassword2.$invalid">
                          <small class="error" 
                                 ng-show="form.uPassword2.$error.required">
                                 Паролата е задължително поле.
                          </small>
                          <small class="error" 
                                 ng-show="IsMatch">
                                 Паролите не съвпадат.
                          </small>
                        </div>
                        <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"
                            ng-show="form.uPassword2.$touched && form.uPassword2.$valid">
                        </span>
                        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"
                            ng-show="form.$submitted && form.uPassword2.$invalid || form.uPassword2.$touched && form.uPassword2.$invalid" >
                        </span>
                    </div>

                    <div class="checkbox">
                      <div class="control-group has-feedback">
                        <label>
                          <input type="checkbox" 
                            ng-model="user.agree" 
                            name="userAgree" 
                            required=""
                          />Съгласен съм с <a href="">общите условия</a> за ползване на продукта
                        </label>
                        <br />
                        <div class="error-container scale-fade" 
                              ng-show="form.$submitted || form.userAgree.$touched">
                          <small class="error" 
                            ng-show="!user.agree">
                            Трябва да сте съгласен с общите условия
                          </small>
                        </div>
                      </div>
                    </div>
                    <div class="clear20"></div>
                    <div class="control-group">
                      <!-- Button -->
                      <div class="controls">
                        <input 
                          type="submit" 
                          value="Създаване на акаунт" 
                          class="btn btn-info btn-lg" 
                          href="#/payment/{{ packageItems.id }}" 
                          ng-click="update(user)"
                        />
                      </div>
                    </div>
                  </fieldset>
                </form>
            </div>
            <div class="col-xs-12 col-md-4 pull-right" data-ng-modul="packageItems">
                <div class="panel {{ packageItems.style }}">
                    <div class="cnrflash">
                        <div class="cnrflash-inner">
                            <span class="cnrflash-label">ВИЕ
                                <br>
                                ИЗБРАХТЕ</span>
                        </div>
                    </div>
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            {{ packageItems.row1 }}</h3>
                    </div>
                    <div class="panel-body">
                        <div class="the-price">
                            <h1>{{ packageItems.row2 }},<em>00</em>лв</h1><small>на месец</small>
                        </div>
                        <table class="table">
                            <tr>
                                <td>
                                    {{ packageItems.row3 }}
                                </td>
                            </tr>
                            <tr class="active">
                                <td>
                                    {{ packageItems.row4 }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {{ packageItems.row5 }}
                                </td>
                            </tr>
                            <tr class="active">
                                <td>
                                    {{ packageItems.row6 }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {{ packageItems.row7 }}
                                </td>
                            </tr>
                            <tr class="active">
                                <td>
                                    {{ packageItems.row8 }}
                                </td>
                            </tr>
                            <tr><td></td></tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="clear60"></div>

    <div class="pricing-row">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 start-now">
            <h2>Имате въпроси?</h2>
            <P>Когато искате да подобрите бизнеса ви, използвайки софтуер обслужващ ежедневните ви операции могат да изникнат много въпроси. Ако искате да ни ги зададете винаги може да се свържете с нас, за да поговорим за бизнесът ви и как нашият софтуер ще организира вашия склад по един бърз и удобен начин. Също така сме готови да поговорим за интегриране с други софтуерни системи, вашия електронен магазин и всякакви други въпроси. Нашите високо квалифицирани специалисти имат отговор.</P>
            <a class="btn btn-default btn-lg" href="#/payment" role="button">Свържете се с нас</a>
            <div class="clear10"></div>
            <span class="help-text">Ние сме на разположение 24/7</span>
          </div><!-- /.col-lg-12 -->
          <div class="col-lg-4">
            <img src="img/support.jpg" alt="Warehouse in a nice order">
          </div>
        </div><!-- /.row -->
      </div><!-- /.container -->
    </div><!-- /.start-now -->

    <div class="clear40"></div>


<div style="background-color: #fff;">
      <!-- FOOTER -->
      <div class="container">
        <footer>
          <p>© 2015 Right Click ltd. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
        </footer>
      </div>
</div>
</div>