<div ng-controller="pricingController">   
    <div class="red-row">
      <div class="container">

        <nav class="navbar navbar navbar-static-top">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">WareCloud</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav pull-right">
              <li data-ng-repeat="button in menuItems"><a href="{{ button.link }}" class="{{button.class}}">{{ button.name}}</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </div>




    <!-- Plans
    ================================================== -->

    <div class="clear60"></div>


      <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Плащане с карта</h3>
                        <div class="clear"></div>
                        <img src="http://i76.imgup.net/accepted_c22e0.png">
                    </div>
                    <div class="panel-body">
                        <form id="payment-form" role="form" novalidate="novalidate">
                            <div class="clear20"></div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label for="cardNumber">CARD NUMBER</label>
                                        <div class="input-group">
                                            <input type="text" data-stripe="number" autofocus="" required="" placeholder="Valid Card Number" name="cardNumber" class="form-control" aria-required="true">
                                            <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                                        </div>
                                    </div>                            
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-7 col-md-7">
                                    <div class="form-group">
                                        <label for="expMonth">EXPIRATION DATE</label>
                                        <div class="col-xs-6 col-lg-6 pl-ziro">
                                            <input type="text" data-stripe="exp_month" required="" placeholder="MM" name="expMonth" class="form-control" aria-required="true">
                                        </div>
                                        <div class="col-xs-6 col-lg-6 pl-ziro">
                                            <input type="text" data-stripe="exp_year" required="" placeholder="YY" name="expYear" class="form-control" aria-required="true">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-5 col-md-5 pull-right">
                                    <div class="form-group">
                                        <label for="cvCode">CV CODE</label>
                                        <input type="password" data-stripe="cvc" required="" placeholder="CV" name="cvCode" class="form-control" aria-required="true">
                                    </div>
                                </div>
                            </div>
                            <div class="clear30"></div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <a type="submit" class="btn btn-info btn-lg btn-block" href="#/login">Стартиране на абонамента</a>
                                </div>
                            </div>
                            <div style="display:none;" class="row">
                                <div class="col-xs-12">
                                    <p class="payment-errors"></p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Плащане с ePay</h3>
                        <div class="clear"></div>
                        <img src="img/epay.png">
                    </div>
                    <div class="panel-body">
                        <form id="payment-form" role="form" novalidate="novalidate">
                            
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4 pull-right pricing" data-ng-module="packageItems">

                <div class="panel {{ packageItems.style }}">
                    <div class="cnrflash">
                        <div class="cnrflash-inner">
                            <span class="cnrflash-label">НАЙ
                                <br>
                                ПРЕДПОЧИТАН</span>
                        </div>
                    </div>
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            {{ packageItems.row1 }}</h3>
                    </div>
                    <div class="panel-body">
                        <div class="the-price">
                            <h1>{{ packageItems.row2 }},<em>00</em>лв</h1><small>на месец</small>
                        </div>
                        <table class="table">
                            <tr>
                                <td>
                                    {{ packageItems.row3 }}
                                </td>
                            </tr>
                            <tr class="active">
                                <td>
                                    {{ packageItems.row4 }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {{ packageItems.row5 }}
                                </td>
                            </tr>
                            <tr class="active">
                                <td>
                                    {{ packageItems.row6 }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {{ packageItems.row7 }}
                                </td>
                            </tr>
                            <tr class="active">
                                <td>
                                    {{ packageItems.row8 }}
                                </td>
                            </tr>
                            <tr><td></td></tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="clear60"></div>

    <div class="pricing-row">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 start-now">
            <h2>Имате въпроси?</h2>
            <P>Когато искате да подобрите бизнеса ви, използвайки софтуер обслужващ ежедневните ви операции могат да изникнат много въпроси. Ако искате да ни ги зададете винаги може да се свържете с нас, за да поговорим за бизнесът ви и как нашият софтуер ще организира вашия склад по един бърз и удобен начин. Също така сме готови да поговорим за интегриране с други софтуерни системи, вашия електронен магазин и всякакви други въпроси. Нашите високо квалифицирани специалисти имат отговор.</P>
            <a class="btn btn-default btn-lg" href="#" role="button">Свържете се с нас</a>
            <div class="clear10"></div>
            <span class="help-text">Ние сме на разположение 24/7</span>
          </div><!-- /.col-lg-12 -->
          <div class="col-lg-4">
            <img src="img/support.jpg" alt="Warehouse in a nice order">
          </div>
        </div><!-- /.row -->
      </div><!-- /.container -->
    </div><!-- /.start-now -->

    <div class="clear40"></div>

        
<div style="background-color: #fff;">
      <!-- FOOTER -->
      <div class="container">
        <footer>
          <p>© 2015 Right Click ltd. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
        </footer>
      </div>
</div>
</div>

   