 <div data-ng-controller="recoveryController">
    <div class="red-row">
      <div class="container">

        <nav class="navbar navbar navbar-static-top">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">WareCloud</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav pull-right">
              <li data-ng-repeat="button in menuItems"><a href="{{ button.link }}" class="{{button.class}}">{{ button.name}}</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
    <div class="clear60"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-lg-offset-4">
          <form name="form" autocomplete="off" submitted="submitted" submit="submit()">
            <div class="panel panel-default box-shadow">
              <div class="panel-heading">
                <h3 class="panel-title">
                  Възстановяване на парола
                </h3>
              </div>
              <div class="panel-body">
                <p class="text-center pv">Моля въведете вашия имейл адрес и ще получите линк за възстановяване на паролата ви.</p>
                <div class="form-group has-feedback">
                  <input
                    type="email"
                    class="form-control loginEmail"
                    id="email"
                    name="email"
                    placeholder="Имейл"
                    ng-model="email"
                    ng-model-options="{updateOn: 'blur'}"
                    required>
                    <span class="fa fa-envelope form-control-feedback text-muted"></span>
                    <div class="clear"></div>
                    <span class="text-danger ng-hide">This field is required</span>
                </div>
                <div class="clear20"></div>
                <button type="submit" class="btn btn-default btn-block">Изпрати</button>
                <div class="clear20"></div>
                <a class="text-center pv" href="#/login">Обратно към вход</a>
              </div>
            </div>
          </form>
        </div>  
      </div>
    </div>
    <div class="clear40"></div>
  </div>